AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

POSTGRES_DB=avito_dwh
POSTGRES_USER=avito
POSTGRES_PASSWORD=avito123
POSTGRES_HOST=external-postgres
POSTGRES_PORT=5432

AVITO_SEARCH_URLS=https://www.avito.ru/moskva?q=iphone
AVITO_MAX_PAGES=1
AVITO_REQUEST_TIMEOUT=20
AVITO_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/126 Safari/537.36

