# created by virtualenv automatically
.secret.txt

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
venv/
venv2/
.env/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
